@import "tailwindcss";

@font-face {
    font-family: 'zelda';
    src: url('/fonts/The Wild Breath of Zelda.otf');
}

body {

    background: linear-gradient(45deg,
            #9E8861 20%, #AD976E 20%,
            #9E8861 40%, #AD976E 40%,
            #9E8861 60%, #AD976E 60%,
            #9E8861 80%, #AD976E 80%);
}

h1 {
    font-size: 30px;
    font-family: zelda;
    margin-bottom: 10px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-logo {
    animation: fadeIn 4s ease-out forwards;
}