.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    background-color: #2A201F;
    border-color: #CE9C39;
    color: #CE9C39;
}

.card p {
    color: #b8a070;
}

#editar {
    background-color: #11458C;
}

#editar:hover {
    background-color: #11448ca6;
}

#delete {
    background-color: #CC0914;
}

#delete:hover {
    background-color: #cc0913b4;
}